{% extends "layout.html" %} {% block content %}
<div class="container">
    <h1>Socket</h1>
    {{ datos }}
    <ul id="messages"></ul>
    <input type="text" id="myMessage">
    <button id="send"> send </button>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        const socket = io()
            //var ids = $('#idu').val('');
        var someJavaScriptVar = '{{ datos[0][0] }}';
        //console.log(someJavaScriptVar);
        //var id = ids.toString();
        socket.on('message', function(msg) {
            $('#messages').append('<li>' + msg + '</li>')
                //console.log($(ids).val());
                //console.log(someJavaScriptVar);
        })

        $('#send').on('click', function() {
            socket.send($('#myMessage').val() + (someJavaScriptVar));
            $('#myMessage').val('');
            //socket.send($('#idu').val());
            //$('#idu').val('');
        });
    </script>
</div>
{% endblock %}